{% extends 'core/base.html' %}

{% block title %}LISTADO {% endblock %}
{% block content %}


<table class="table table-bordered table-hover table-striped border-primary">
    <thead class="table-dark">
        <tr class="tex">
            <td>No.</td>
            <td>DEPENDENCIA</td>
            <td>UNIDAD</td>
            <td>TELEFONO</td>
            <td>CELULAR</td>
            <td>EMAIL</td>
            <td>DIRECCION</td>
            <td>MUNICIPIO</td>
            <td>ACCIONES</td>
        </tr>
    </thead>

    <tbody>
        {% if object_list %}
        {% for ListadoDependencia in object_list %}
        <tr>
            <td>{{ListadoDependencia.id}}</td>
            <td>{{ListadoDependencia.dependencia}}</td>
            <td>{{ListadoDependencia.unidad}}</td>
            <td>{{ListadoDependencia.telefono}}</td>
            <td>{{ListadoDependencia.celular}}</td>
            <td>{{ListadoDependencia.email}}</td>
            <td>{{ListadoDependencia.direccion}}</td>
            <td>{{ListadoDependencia.municipio}}</td>

            <td>
                <a class="btn btn-primary" href="{% url 'dep_editar' ListadoDependencia.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros en la base </h1>

        {% endif%}
    </tbody>

</table>


{% endblock %}