{% block busqueda %}

<div class="container">
    <div class="row">
        <div class="col-md-10 search">
            <form method="GET">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar solo columna de CAI" name="buscar">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success">Buscar</button>

                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}