{% extends 'core/base.html' %}

{% block title %}LISTADO {% endblock %}
{% block content %}

{% include 'mebuc/busqueda.html'%}

<table class="table table-bordered table-hover table-striped border-primary">
    <thead class="table-dark">
        <tr class="tex">
            <td>No.</td>
            <td>DEPENDENCIA</td>
            <td>CAI</td>
            <td>CUADRANTE</td>
            <td>PATRULLA</td>
            <td>TELEFONO</td>
            <td>CELULAR</td>
            <td>ACCIONES</td>
        </tr>
    </thead>

    <tbody>
        {% if object_list %}
        {% for Directoriomebuc in object_list %}
        <tr>
            <td>{{Directoriomebuc.id}}</td>
            <td>{{Directoriomebuc.dependencia}}</td>
            <td>{{Directoriomebuc.cai}}.</td>
            <td>{{Directoriomebuc.cuadrante}}</td>
            <td>{{Directoriomebuc.patrulla}}</td>
            <td>{{Directoriomebuc.telefono}}</td>
            <td>{{Directoriomebuc.celular}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'editar' Directoriomebuc.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'eliminar' Directoriomebuc.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros en la base </h1>

        {% endif%}
    </tbody>

</table>


{% endblock %}